# Python
venv/
__pycache__/
*.pyc
.env

# FastF1 cache
cache/

# Data
data/processed/
data/raw/
.DS_Store
data/

# Archivos locales de Tableau
tableau/*.twb
tableau/*.twbx

# VSCode
.vscode/

ingestion/temp.py
